* {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 18px;
}


body {
    overflow-x: hidden;
}


.nav {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    background-color: black;
    opacity: 0.6;
}

.nav img {
    width: 50px;
    height: 50px;
    margin: 15px;
    border: 2px solid rgb(172, 90, 248);
    border-radius: 50%;

}


.flex ul {
    display: flex;
    list-style: none;
}

.flex ul li {
    margin: 20px;
    font-size: 20px;
    transition: 0.2s;
}


.flex ul li a {
    text-decoration: none;
    color: beige;
}


.flex ul li a:hover {
    color: beige;
    background-color: rgb(172, 90, 248);
    color: black;
    padding: 10px;
    border-radius: 50px;
    transition: 0.2s;
}


.flex ul li a.active {
    color: beige;
    background: rgb(172, 90, 248);
    padding: 10px;
    border-radius: 25px;
    transition: 0.2s;
}



header div {
    margin: 0 20px;
}

.hamburger {
    display: none;
}

/* banner */
.bg-img {
    background-image: url("/images/bg.jfif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 90vh;
    position: relative;
}

.bg-img::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 9, 9, 0.5);
}

.wavy {
    top: 60vh;
    position: absolute;
    bottom: 0;
}

.bg-heading {
    position: relative;
    z-index: 2;
    color: #fff;
    padding: 20px;
    margin-left: 25px;
}

.title {
    font-size: 48px;
    margin: 100px 0 10px 0;
    text-align: start;

}

.subtitle {
    font-size: 36px;
    text-align: start;
}

.button-banner {
    color: white;
    background: rgb(172, 90, 248);
    padding: 20px;
    border-radius: 25px;
    margin-left: 0;
    border: none;
    opacity: 1;
    margin-top: 20px;
    cursor: pointer;
}

/* products */
.products {
    margin-top: 300px;

}

.product-info {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: 100px auto 100px auto;
    justify-content: space-evenly;
}

.product_title,
.about_title {
    font-size: xx-large;
    text-align: center;
    /* margin-top: 300px; */
}

.product_img img {
    width: 500px;
    height: auto;
}



/* reviews */

.reviews {
    padding-top: 20px;
    padding-bottom: 20px;
}


.slider-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slide-info {
    display: none;
}

.slide-info h3 {
    font-weight: 700;
    text-align: center;
    font-size: 20px;
}


.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 20px;
    margin-top: -30px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


.slide-details {
    color: black;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    top: 25px;
    width: 100%;
    text-align: center;
}

.active {
    background-color: #717171;
}



/* blog */

.blogs {
    padding-bottom: 20px;
    padding-top: 200px;
}


.accordion {
    max-width: 400px;
    margin: 0 auto;
}

.accordion-container {
    margin-bottom: 10px;
}

.accordion-btn {
    background-color: #e0c2ee;
    color: black;
    padding: 20px;
    width: 100%;
    text-align: left;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.accordion-details {
    display: none;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #f9f9f9;
}

.active {
    display: block;
}



/* about-us */
.about-us {
    margin: 150px 400px 100px 400px;
    text-align: justify;
}

.about_desc {
    padding: 20px;
}


/* footer */
.footer {
    margin-top: 140px;
    color: black;
    padding: 20px 0;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content {
    max-width: 1500px;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: space-between;
}

.footer-left,
.footer-center,
.footer-right {
    padding: 15px;
}

.footer-center li a {
    text-decoration: none;
    color: black;
}

.footer h3 {
    margin-bottom: 10px;
    font-weight: 600;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 5px;
}

.social-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.social-links img {
    width: 24px;
    height: 24px;
    border-radius: 50px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-top: 1px solid #555;
    width: 1500px;
    margin: auto;
    padding: 10px 0 20px 0;

}

.footer-bottom ul {
    list-style: none;
}

.footer-bottom ul li {
    display: inline;
    margin-right: 10px;

}

.footer-bottom ul li a {
    text-decoration: none;
    color: black;
}



@media only screen and (max-width: 768px) {

    /* header */
    .nav {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .flex.active {
        height: 350px;
        background: rgb(211, 202, 220);
    }


    .flex {
        position: absolute;
        top: 80px;
        width: 100vw;
        height: 250px;
        transition: 0.3s;
        overflow-x: hidden;
    }

    .flex ul {
        display: block;
        width: fit-content;
        margin: 80px 200px 0 auto;
        text-align: right;
        transition: 0.5s;
        opacity: 0;
    }

    .flex.active ul {
        opacity: 1;
    }

    .flex ul li a {
        margin-bottom: 12px;
        color: black;
        font-weight: 700;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 10px 0 0 400px;
    }

    .wavy {
        top: 70vh;
        width: 100vw;
    }


    /* products */
    .product-info {
        grid-template-columns: repeat(1, auto);
        margin: 15px 100px 50px 100px;
    }

    .product_details {
        margin: 100px;
    }


    .product_img img {
        width: 400px;
        height: auto;
        text-align: center;
        margin-left: 80px;
    }


    /* reviews */
    .prev,
    .next {
        padding: 30px;
    }

    /* about-us */
    .about-us {
        margin: 150px;
        text-align: justify;
    }


    /* footer */
    .footer-content {
        grid-template-columns: repeat(2, auto);
    }

    .footer-left,
    .footer-center,
    .footer-right {
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .footer-bottom ul {
        margin-top: 10px;
    }

    .footer-right {
        padding: 3px;
        display: block;
    }

    .social-links {
        justify-content: start;
    }

    .social-links img {
        margin-right: 3px;
    }

    /* .bg-img {
        margin-top: 350px;
        margin-left: 0;
    } */
}